ProcessusKillerService/ServiceClientConsole/Connected Services/KillerServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/ProcessusKillerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProcessusKillerService" />
  <xs:element name="GetProcessus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProcessusKillerService" minOccurs="0" name="GetProcessusResult" nillable="true" type="q1:ArrayOfProcessusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessusByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessusByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProcessusKillerService" minOccurs="0" name="GetProcessusByNameResult" nillable="true" type="q2:ArrayOfProcessusModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopProcessusByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopProcessusByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopProcessusByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopProcessusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopProcessusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopProcessusByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>