ProcessusKillerService/ServiceClientConsole/Connected Services/KillerServiceReference/KillerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KillerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/ProcessusKillerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/ProcessusKillerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/ProcessusKillerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProcessusKillerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKillerService_GetProcessus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessus" />
  </wsdl:message>
  <wsdl:message name="IKillerService_GetProcessus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessusResponse" />
  </wsdl:message>
  <wsdl:message name="IKillerService_GetProcessusByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessusByName" />
  </wsdl:message>
  <wsdl:message name="IKillerService_GetProcessusByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessusByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IKillerService_StopProcessusByName_InputMessage">
    <wsdl:part name="parameters" element="tns:StopProcessusByName" />
  </wsdl:message>
  <wsdl:message name="IKillerService_StopProcessusByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopProcessusByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IKillerService_StopProcessusById_InputMessage">
    <wsdl:part name="parameters" element="tns:StopProcessusById" />
  </wsdl:message>
  <wsdl:message name="IKillerService_StopProcessusById_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopProcessusByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IKillerService">
    <wsdl:operation name="GetProcessus">
      <wsdl:input wsaw:Action="http://tempuri.org/IKillerService/GetProcessus" message="tns:IKillerService_GetProcessus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKillerService/GetProcessusResponse" message="tns:IKillerService_GetProcessus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessusByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IKillerService/GetProcessusByName" message="tns:IKillerService_GetProcessusByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKillerService/GetProcessusByNameResponse" message="tns:IKillerService_GetProcessusByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopProcessusByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IKillerService/StopProcessusByName" message="tns:IKillerService_StopProcessusByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKillerService/StopProcessusByNameResponse" message="tns:IKillerService_StopProcessusByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopProcessusById">
      <wsdl:input wsaw:Action="http://tempuri.org/IKillerService/StopProcessusById" message="tns:IKillerService_StopProcessusById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKillerService/StopProcessusByIdResponse" message="tns:IKillerService_StopProcessusById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKillerService" type="tns:IKillerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProcessus">
      <soap:operation soapAction="http://tempuri.org/IKillerService/GetProcessus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessusByName">
      <soap:operation soapAction="http://tempuri.org/IKillerService/GetProcessusByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopProcessusByName">
      <soap:operation soapAction="http://tempuri.org/IKillerService/StopProcessusByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopProcessusById">
      <soap:operation soapAction="http://tempuri.org/IKillerService/StopProcessusById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KillerService">
    <wsdl:port name="BasicHttpBinding_IKillerService" binding="tns:BasicHttpBinding_IKillerService">
      <soap:address location="http://localhost:8733/ProcessusKillerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>